  <div class="spotlight">	
		<div class="content">
			<p>
				I am a PhD candidate at the <a href="https://sws.cs.ru.nl/">Department of Software Science</a> at 
				<a href="https://www.ru.nl/">Radboud University Nijmegen</a>, working on the project 
				Provably Correct Policies for Uncertain Partially Observable Markov Decision Processes under the supervision of 
				<a href="https://nilsjansen.org/">dr. Nils Jansen</a> and <a href="https://www.cs.ru.nl/F.Vaandrager/">prof. dr. Frits Vaandrager</a>.
			</p>
			<p>
    				My research is at the intersection of formal methods and AI. 
    				Specific interests are planning and learning in Markov decision processes (MDPs) and variations that extend these models with uncertainty, 
				such as robust MDPs and partially observable MDPs (POMDPs).
			</p>
			<p>
    				You can reach me at marnix.suilen {AT} ru.nl.
			</p>
		</div>
		<span class="image"><img src="images/i.jpg" alt="" /></span>
</div>
