  <div class="spotlight">	
		<div class="content">
			<p>	
				I am a postdoctoral researcher in the <a href="https://www.uantwerpen.be/en/research-groups/ansymo/">AnSyMo group</a> 
				at the University of Antwerp, Belgium, advised by 
				<a href="https://www.uantwerpen.be/en/staff/guillermoalberto-perez/">prof. dr. Guillermo Perez</a>.
				Previously, I was a PhD Candidate at the <a href="https://sws.cs.ru.nl/">Department of Software Science</a> at 
				<a href="https://www.ru.nl/">Radboud University Nijmegen</a>, working on the project 
				Provably Correct Policies for Uncertain Partially Observable Markov Decision Processes under the supervision of 
				<a href="https://nilsjansen.org/">prof. dr. Nils Jansen</a> and <a href="https://www.cs.ru.nl/F.Vaandrager/">prof. dr. Frits Vaandrager</a>.
			</p>
		</div>
	  	<span class="image"><img src="images/i.jpg" alt="" /></span>
	  	<div class="content">
			<p>
    				My research interests are at the intersection of AI and theoretical computer science.
				With the rapid development and deployment of AI-enabled systems in real-world applications, ensuring their robustness, 
				reliability, and safety is more important than ever.
				I focus on the field of decision-making under uncertainty, which encompasses both planning and reinforcement learning (RL).
			</p>
			<p>
				The specific goals of my research are to: 
				<ul>
  					<li>Increase the semantic understanding and interplay of various forms of uncertainty in decision-making models.</li>
  					<li>Make planning and RL methods more efficient while ensuring robustness, reliability, and safety against uncertainty.</li>
  					<li>Improve data efficiency in (offline) RL methods.</li>
				</ul> 
			</p>
			<p>
    				You can reach me at marnix.suilen {AT} uantwerpen.be.
			</p>
		</div>
		
</div>
