<span id="publications"></span>
<h2>Publications</h2>
			<p>See also my <a href="https://dblp1.uni-trier.de/pers/hd/s/Suilen:Marnix">DBLP</a> or <a href="https://scholar.google.com/citations?user=8sS0Vv0AAAAJ">Google scholar</a> profiles.</p>
<span><b>Accepted publications:</b></span>
<div class="table-wrapper">
								<table>
									<tbody>
			
			{%- for y in page.years %}
  				<b>{{y}}</b>
  				{% bibliography -f references -q @*[year={{y}}]* --template bib.html %}
			{% endfor %}
                  </tbody>
                </table>
</div>

<!-- --bibliography_list_tag ul -->
