---
---
<!-- _layouts/bib.html -->

      <td>
            {%- if entry.arxiv %}
                  <a href="http://arxiv.org/abs/{{ entry.arxiv }}">arXiv</a>
            {%- endif %}
      </td>
	<td>
            {% assign author_array_size = entry.author_array | size %}

          {% assign author_array_limit = author_array_size %}
          {%- if site.max_author_limit and author_array_size > site.max_author_limit %}
            {% assign author_array_limit = site.max_author_limit %}
          {% endif %}

          {%- for author in entry.author_array limit: author_array_limit -%}
            {%- assign author_is_self = false -%}
            {%- assign author_last_name = author.last | remove: "¶" | remove: "&" | remove: "*" | remove: "†" | remove: "^" -%}
            {%- if site.scholar.last_name contains author_last_name -%}
              {%- if site.scholar.first_name contains author.first -%}
                {%- assign author_is_self = true -%}
              {%- endif -%}
            {%- endif -%}
            {%- assign coauthor_url = nil -%}
            {%- if site.data.coauthors[author_last_name] -%}
              {%- for coauthor in site.data.coauthors[author_last_name] -%}
                {%- if coauthor.firstname contains author.first -%}
                  {%- assign coauthor_url = coauthor.url -%}
                  {%- break -%}
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
            
            {%- if forloop.length > 1 -%}
              {%- if forloop.first == false -%},&nbsp;{%- endif -%}
              {%- if forloop.last and author_array_limit == author_array_size -%}and&nbsp;{%- endif -%}
            {%- endif -%}
            {%- if author_is_self -%}
              <u>{{author.first}} {{author.last}}</u>
            {%- else -%}
              {%- if coauthor_url -%}
                <a href="{{coauthor_url}}">{{author.first}} {{author.last}}</a>
              {%- else -%}
                {{author.first}} {{author.last}}
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
          {%- assign more_authors = author_array_size | minus: author_array_limit -%}
          
         .</br> <em>{{entry.title}}.</em> </br>

      {% assign proceedings = "inproceedings, incollection" | split: ','%}
          {% if entry.type == "article" -%}
            {{entry.journal}}</em> 
          {%- elsif proceedings contains entry.type -%}
            In {{entry.booktitle}}</em> 
          {%- else -%}
            {%- capture entrytype -%}{%- endcapture -%}
          {%- endif -%}
          {%- if entry.year -%}
            {{" "}}{{entry.year}}.
          {%- endif -%}
      </td>

